{% extends 'base.html' %}

{% block content %}
    <section id="adverts">
        <div>
            <div>
                <!-- Posts -->
                <div>
                    {% for advertmodel in advertmodel_list %}
                        <div>
                            <div>@{{ advertmodel.user }} &bullet; {{ advertmodel.created_at|date:'d M Y' }}</div>
                            <a href="{% url 'advert_detail' advertmodel.pk %}"><h2>{{ advertmodel.title }}</h2></a>
                            <p>{{ advertmodel.content|safe }}</p>
                            </div>
                    {% empty %}
                        <div><h1>Ничего нет</h1></div>
                    {% endfor %}
                    </div><!-- End Posts -->
                </div>
            <!-- Paging -->
            {% if is_paginated %}
                {% include "paginator.html" with page_obj=page_obj paginator=paginator%}
            {% endif %}<!-- End Paging -->
            </div>
        </section>

{% endblock %}