{% extends 'base.html' %}

{% block content %}

    <section id="filter">
        <div>
            <div>
                <!-- Filtered Replies -->
                <div>
                    {% for reply in replymodel_list %}
                        <div>
                            <p>{{ reply.user }} &bullet; {{ reply.created_at|date:'d M Y' }}</p>
                            <h2>{{ reply.title }}</h2>
                            <p>{{ reply.text }}</p>
                            <p><a href="{% url 'reply_accept' reply.pk %}">Accept</a> &bullet; 
                            <a href="{% url 'reply_delete' reply.pk %}">Delete</a></p>
                            <hr>
                            </div>
                    {% empty %}
                        <h1>No replies</h1>
                    {% endfor %}
                    </div><!-- End Filtered Replies -->
                
                <!-- Sidebar -->
                <div>
                    <ul><li>Параметры</li></ul>
                    <div>
                        <!-- Form -->
                        <form action="" method="get">
                            {{ filter.form.as_p }}
                            <div><input type="submit" value="Filter"></div>
                            </form><!-- End Form -->
                        </div>
                    </div><!-- End Sidebar -->

            <!-- Paging -->
            {% if is_paginated %}
                {% include "paginator.html" with page_obj=page_obj paginator=paginator%}
            {% endif %}<!-- End Paging -->

            </div>
        </section>

{% endblock %}