<!-- ======= Header ======= -->
<header id="header">
  <div>

    <h1>MMORPG_MRKT</h1>

    <nav id="navbar">
      <ul>
        <li><a href="{% url 'advert_list' %}">All adverts</a></li>
        <li><a href="{% url 'advert_create' %}">Add advert</a></li>
        <li><a href="{% url 'my' %}">My adverts</a></li>
        <li><a href="#"><span>You are {{ request.user }}</span></a>
          <ul>
            <li><a href="#">LogIn</a></li>
            <li><a href="#">LogOut</a></li>
            <li><a href="#">SignUp</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header><!-- End Header -->